@page "/offers"
@rendermode InteractiveServer

@using KS.Application.Clients;
@using KS.Application.DTOs.Offer

@inject OfferClient OfferClient
@inject NavigationManager NavigationManager

<PageTitle>Offers</PageTitle>


<h3>Offers</h3>
<br />
<br />

<Grid TItem="OfferListDTO"
      AllowPaging="true"
      AllowSorting="true"
      Class="table table-hover table-bordered table-striped"
      DataProvider="OffersDataProvider"
      PageSize="@pageSize"
      Responsive="true"
      AllowRowClick="true"
      OnRowClick="OnRowClick"
>
    <GridColumns>
        <GridColumn TItem="OfferListDTO" HeaderText="Offer no." PropertyName="OfferNumber">
            @context.OfferNumber
        </GridColumn>
        <GridColumn TItem="OfferListDTO" HeaderText="Created on" PropertyName="CreatedOnUtc">
            @context.CreatedOnUtc
        </GridColumn>
    </GridColumns>
</Grid>


@code {
    private IEnumerable<OfferListDTO>? offers = default!;
    private int currentPage = 1;
    private const int pageSize = 3;
    private int totalOffers;

    private async Task<GridDataProviderResult<OfferListDTO>> OffersDataProvider(GridDataProviderRequest<OfferListDTO> request)
    {
        var response = await OfferClient.GetAllListAsyncPaginated(request.PageNumber, request.PageSize);

        offers = response.Data;
        totalOffers = response.TotalCount;

        return new GridDataProviderResult<OfferListDTO>
            {
                Data = offers,
                TotalCount = totalOffers
            };
    }

    private void OnRowClick(GridRowEventArgs<OfferListDTO> args)
    {
        NavigationManager.NavigateTo($"/edit-offer/{args.Item.Id}");
    }
}
